*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.dwlt
.DS_Store

Lords-of-Distortion/Library/
Lords-of-Distortion/obj
Lords-of-Distortion/Build/
Lords-of-Distortion/Temp/
Lords-of-Distortion/Library/EditorUserBuildSettings.asset
Lords-of-Distortion/Library/AssetServerCacheV3
Lords-of-Distortion/Library/AssetImportState
Lords-of-Distortion/Lords-of-Distortion-csharp.v12.suo
Lords-of-Distortion/Library/InspectorExpandedItems.asset

Lords-of-Distortion/Library/shadercompiler-1.log
