*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.dwlt
.DS_Store

Lords-of-Distortion/Library/FailedAssetImports.txt
Lords-of-Distortion/Library/cache/
Lords-of-Distortion/Library/previews/
Lords-of-Distortion/Library/ScriptAssemblies
Lords-of-Distortion/Library/assetDatabase3
Lords-of-Distortion/Library/assetservercachev3
Lords-of-Distortion/Library/AssetServerCacheV3
Lords-of-Distortion/Library/AssetVersioning.db
Lords-of-Distortion/Library/expandedItems
Lords-of-Distortion/Library/FailedAssetImports.txt
Lords-of-Distortion/Library/guidmapper
Lords-of-Distortion/Library/expandedItems
Lords-of-Distortion/Library/ScriptMapper
Lords-of-Distortion/Library/metadata/
Lords-of-Distortion/obj
Lords-of-Distortion/Build/
Lords-of-Distortion/Temp/
Lords-of-Distortion/Library/EditorUserBuildSettings.asset
Lords-of-Distortion/Library/AssetServerCacheV3
Lords-of-Distortion/Library/AssetImportState
Lords-of-Distortion/Lords-of-Distortion-csharp.v12.suo
Lords-of-Distortion/Library/InspectorExpandedItems.asset

Lords-of-Distortion/Library/shadercompiler-1.log
